#title {
  background-color: #ff4c68;
}
#features {
  padding: 7% 15%;
  background-color: #ffff;
  position: relative;
}
body {
  font-family: "Montserrat";
}
h1 {
  font-family: "Montserrat-Black", sans-serif;
  font-weight: 900;
  font-size: 3.75rem;
  line-height: 1.5;
    color: #fff;
}
p {
  color: #8F8F8F;
  font-size: 1.5rem;
}
h2 {
  font-family: "Montserrat-bold", sans-serif;
  line-height: 5rem;
  font-size: 3rem;
font-weight: 900;
}
h3 {
  font-family: "Montserrat-Black", sans-serif;
  font-weight: 900;
}
.col {
  text-align:center;
}
.fas {
  width: 100px;
}
.container-fluid {
  padding: 3% 15% 7%;

}
.navbar {
  padding:0 0 4.5rem;
}
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}
.download-buttons {
  margin: 5% 3% 5% 0;
}
.features-box {
  text-align: center;
  padding: 5%;
}
.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover {
  color: #ff4c68;
}
#testimonials {

  text-align: center;
  background-color: #ef8172;
  color:#ffff;
}
.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
#press {
    background-color: #ef8172;
    padding-bottom: 3%;
    text-align: center;
}
.title-img {
  width: 60%;
 transform: rotate(25deg);
 position: absolute;
 right: 30%;
}
.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}
.carousel-item {
  padding: 7% 15%;
}
#pricing {
  text-align: center;
}
.pricing-column {
  padding: 3% 2%;
}
@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
  .title-img {
    position:static;
    transform: rotate(0);
  }
}
#cta {
  background-color:  #ff4c68;
  color: #ffff;
  padding: 7% 15%;
  text-align: center;
}
.cta-head {
  font-family: "Montserrat-Black", sans-serif;
  font-weight: 900;
  font-size: 3.75rem;
  line-height: 1.5;
}
#footer {
  padding: 7% 15%;
}
.para {
  font-size: 1.2rem;
}
.social-icon {
  margin: 20px 10px;
}
